.cell {
    border: 2px solid #000000;
    margin-right: 30px;
    width: 270px;
    border-radius: 5px;
    text-align:center;
    padding: 10px;
    background-color: #ffffff;
  }
.body{
    text-align: center;
}
  .button{
    background-color: green;
  }